.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .todolist {
    flex-grow: 1;
    text-align: left;
    font-size: 16px;
  }
  
  .deleteBtn {
    background-color: transparent;
    border: none;
    color: #ff6b6b;
    cursor: pointer;
    font-size: 18px;
  }
  
  .deleteBtn:hover {
    color: #ff4d4d;
  }
  